<div id="navigator">
  <table id="stateselection">
    <tr>
      <td (click)="changeState('treeview')">
        treeview
      </td>
      <td (click)="changeState('elementview')">
        elementview
      </td>
      <td (click)="changeState('meta')">
        meta
      </td>
    </tr>
  </table>
  <table id="mainelement">
    <tr>
      <td colspan="3">
        <div id="treeview" *ngIf="state==='treeview'">
          <table id="treeviewtable">
            <tr>
              <td *ngFor="let subarray of cmearray; let i = index">
                <div *ngFor="let cme of subarray" class="subarrayDiv">
                  <u (click)="getLinkedCME(cme, i)">{{cme.title}}</u>
                  <b (click)="goTo(cme.coor.x, cme.coor.y)">⊗</b>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div id="elementview" *ngIf="state==='elementview'">
          <table id="elementviewtable" *ngIf="selCMEo">
            <tr>
              <td>
                CME:
                <table  id="elementviewcmetable">
                  <tr>
                    <td>
                      ID:
                    </td>
                    <td>
                      {{selCMEo.id}}
                    </td>
                    <td>
                      Title:
                    </td>
                    <td>
                      <input #cmeTitle value="{{selCMEo.title}}" size="5" (keyup.enter)="cangeSelCMEo(['title'], cmeTitle.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      x0:
                    </td>
                    <td>
                      <input #cmeX0 value="{{selCMEo.x0}}" size="5" (keyup.enter)="cangeSelCMEo(['x0'], cmeX0.value)">
                    </td>
                    <td>
                      y0:
                    </td>
                    <td>
                      <input #cmeY0 value="{{selCMEo.y0}}" size="5" (keyup.enter)="cangeSelCMEo(['y0'], cmeY0.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      x1:
                    </td>
                    <td>
                      <input #cmeX1 value="{{selCMEo.x1}}" size="5" (keyup.enter)="cangeSelCMEo(['x1'], cmeX1.value)">
                    </td>
                    <td>
                      y1:
                    </td>
                    <td>
                      <input #cmeY1 value="{{selCMEo.y1}}" size="5" (keyup.enter)="cangeSelCMEo(['y1'], cmeY1.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      CoorX:
                    </td>
                    <td>
                      <input #cmeCoorX value="{{selCMEo.coor.x}}" size="5" (keyup.enter)="cangeSelCMEo(['coor', 'x'], cmeCoorX.value)">
                    </td>
                    <td>
                      CoorY:
                    </td>
                    <td>
                      <input #cmeCoorY value="{{selCMEo.coor.y}}" size="5" (keyup.enter)="cangeSelCMEo(['coor', 'y'], cmeCoorY.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Prio:
                    </td>
                    <td>
                      <input #cmePrio value="{{selCMEo.prio}}" size="5" (keyup.enter)="cangeSelCMEo(['prio'], cmePrio.value)">
                    </td>
                    <td>
                      Types:
                    </td>
                    <td>
                      <input #cmeTypes value="{{selCMEo.types.toString()}}" size="5" (keyup.enter)="cangeSelCMEo(['types'], cmeTypes.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      State:
                    </td>
                    <td>
                      <input #cmeState value="{{selCMEo.state}}" size="5" (keyup.enter)="cangeSelCMEo(['state'], cmeState.value)">
                    </td>
                    <td>
                      Cat:
                    </td>
                    <td>
                      <input #cmeCat value="{{selCMEo.cat.toString()}}" size="5" (keyup.enter)="cangeSelCMEo(['cat'], cmeCat.value)">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                CMObject:
                <table  id="elementviewcmeobjecttable">
                  <tr>
                    <td>
                      Size:
                    </td>
                    <td>
                      <input #cmeTitelSize value="{{selCMEo.cmobject.style.title.size}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'title', 'size'], cmeTitelSize.value)">
                    </td>
                    <td>
                      Color:
                    </td>
                    <td>
                      <input #cmeTitelColor value="{{selCMEo.cmobject.style.title.color}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'title', 'color'], cmeTitelColor.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Font:
                    </td>
                    <td>
                      <input #cmeTitelFont value="{{selCMEo.cmobject.style.title.font}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'title', 'font'], cmeTitelFont.value)">
                    </td>
                    <td>
                      Deco:
                    </td>
                    <td>
                      <input #cmeTitelDeco value="{{selCMEo.cmobject.style.title.deco}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'title', 'deco'], cmeTitelDeco.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ClassArray:
                    </td>
                    <td>
                      <input #cmeTitelClassArray value="{{selCMEo.cmobject.style.title.class_array.toString()}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'title', 'class_array'], cmeTitelClassArray.value)">
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      Color0:
                    </td>
                    <td>
                      <input #cmeObjectColor0 value="{{selCMEo.cmobject.style.object.color0}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'object', 'color0'], cmeObjectColor0.value)">
                    </td>
                    <td>
                      Color1:
                    </td>
                    <td>
                      <input #cmeObjectColor1 value="{{selCMEo.cmobject.style.object.color1}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'object', 'color1'], cmeObjectColor1.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Trans:
                    </td>
                    <td>
                      <input #cmeObjectTrans value="{{selCMEo.cmobject.style.object.trans}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'object', 'trans'], cmeObjectTrans.value)">
                    </td>
                    <td>
                      Weight:
                    </td>
                    <td>
                      <input #cmeObjectWeight value="{{selCMEo.cmobject.style.object.weight}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'object', 'weight'], cmeObjectWeight.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Str:
                    </td>
                    <td>
                      <input #cmeObjectStr value="{{selCMEo.cmobject.style.object.str}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'object', 'str'], cmeObjectStr.value)">
                    </td>
                    <td>
                      ClassArray:
                    </td>
                    <td>
                      <input #cmeObjectClassArray value="{{selCMEo.cmobject.style.object.class_array.toString()}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'object', 'class_array'], cmeObjectClassArray.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      NumArray:
                    </td>
                    <td>
                      <input #cmeObjectNumArray value="{{selCMEo.cmobject.style.object.num_array.toString()}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'style', 'object', 'num_array'], cmeObjectNumArray.value)">
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr *ngIf="selCMEo['cmobject']">
              <td *ngIf="selCMEo['cmobject']['content'].length > 0">
                <table>
                  <tr>
                    <td>
                      Content
                    </td>
                    <td class="iteratorTd" *ngFor="let content of selCMEo['cmobject']['content']; let i = index">
                      <b (click)="changePosition('content', i)">{{i}}</b>
                    </td>
                    <td>
                      <div (click)="delPosition('content', contentPos)">
                        <img src="assets/images/svgelements/menue/del.svg" width="20px" height="20px">
                      </div>
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td>
                      CoorX:
                    </td>
                    <td>
                      <input #cmeContentCoorX value="{{selCMEo['cmobject']['content'][contentPos].coor.x}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'content', 'coor', 'x'], cmeContentCoorX.value, contentPos)">
                    </td>
                    <td>
                      CoorY:
                    </td>
                    <td>
                      <input #cmeContentCoorY value="{{selCMEo['cmobject']['content'][contentPos].coor.y}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'content', 'coor', 'y'], cmeContentCoorY.value, contentPos)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Width:
                    </td>
                    <td>
                      <input #cmeContentWidth value="{{selCMEo['cmobject']['content'][contentPos].width}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'content', 'width'], cmeContentWidth.value, contentPos)">
                    </td>
                    <td>
                      Height:
                    </td>
                    <td>
                      <input #cmeContentHeight value="{{selCMEo['cmobject']['content'][contentPos].height}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'content', 'height'], cmeContentHeight.value, contentPos)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cat:
                    </td>
                    <td>
                      <input #cmeContentCat value="{{selCMEo['cmobject']['content'][contentPos].cat}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'content', 'cat'], cmeContentCat.value, contentPos)">
                    </td>
                    <td>
                      Info:
                    </td>
                    <td>
                      <input #cmeContentInfo value="{{selCMEo['cmobject']['content'][contentPos].info}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'content', 'info'], cmeContentInfo.value, contentPos)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Object:
                    </td>
                    <td coolspan="3">
                      <input #cmeContentObject value="{{selCMEo['cmobject']['content'][contentPos].object}}" size="10"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'content', 'object'], cmeContentObject.value, contentPos)">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr *ngIf="selCMEo['cmobject']">
              <td *ngIf="selCMEo['cmobject']['links'].length > 0">
                <table>
                  <tr>
                    <td>
                      Links
                    </td>
                    <td class="iteratorTd" *ngFor="let content of selCMEo['cmobject']['links']; let i = index">
                      <b (click)="changePosition('links', i)">{{i}}</b>
                    </td>
                    <td>
                      <div (click)="delPosition('links', linkPos)">
                        <img src="assets/images/svgelements/menue/del.svg" width="20px" height="20px">
                      </div>
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td>
                      ID:
                    </td>
                    <td>
                      <input #cmeLinksID value="{{selCMEo['cmobject']['links'][linkPos].id}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'links', 'id'], cmeLinksID.value, linkPos)">
                    </td>
                    <td>
                      TargetID:
                    </td>
                    <td>
                      <input #cmeLinksTargetID value="{{selCMEo['cmobject']['links'][linkPos].targetId}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'links', 'targetId'], cmeLinksTargetID.value, linkPos)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Title:
                    </td>
                    <td>
                      <input #cmeLinksTitle value="{{selCMEo['cmobject']['links'][linkPos].title}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'links', 'title'], cmeLinksTitle.value, linkPos)">
                    </td>
                    <td>
                      Weight:
                    </td>
                    <td>
                      <input #cmeLinksWeight value="{{selCMEo['cmobject']['links'][linkPos].weight}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'links', 'weight'], cmeLinksWeight.value, linkPos)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Con:
                    </td>
                    <td>
                      <input #cmeLinksCon value="{{selCMEo['cmobject']['links'][linkPos].con}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'links', 'con'], cmeLinksCon.value, linkPos)">
                    </td>
                    <td>
                      Start:
                    </td>
                    <td>
                      <input #cmeLinksStart value="{{selCMEo['cmobject']['links'][linkPos].start}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'links', 'start'], cmeLinksStart.value, linkPos)">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr *ngIf="selCMEo['cmobject']">
              <td *ngIf="selCMEo['cmobject']['meta'].length > 0">
                <table>
                  <tr>
                    <td>
                      Meta
                    </td>
                    <td class="iteratorTd" *ngFor="let content of selCMEo['cmobject']['meta']; let i = index">
                      <b (click)="changePosition('meta', i)">{{i}}</b>
                    </td>
                    <td>
                      <div (click)="delPosition('meta', metaPos)">
                        <img src="assets/images/svgelements/menue/del.svg" width="20px" height="20px">
                      </div>
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td>
                      Name:
                    </td>
                    <td>
                      <input #cmeMetaName value="{{selCMEo['cmobject']['meta'][metaPos].name}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'meta', 'name'], cmeMetaName.value, metaPos)">
                    </td>
                    <td>
                      Type:
                    </td>
                    <td>
                      <input #cmeMetaType value="{{selCMEo['cmobject']['meta'][metaPos].type}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'meta', 'type'], cmeMetaType.value, metaPos)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pos:
                    </td>
                    <td>
                      <input #cmeMetaPos value="{{selCMEo['cmobject']['meta'][metaPos].pos}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'meta', 'pos'], cmeMetaPos.value, metaPos)">
                    </td>
                    <td>
                      Path:
                    </td>
                    <td>
                      <input #cmeMetaPath value="{{selCMEo['cmobject']['meta'][metaPos].path}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'meta', 'path'], cmeMetaPath.value, metaPos)">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Comment:
                    </td>
                    <td colspan="3">
                      <input #cmeMetaComment value="{{selCMEo['cmobject']['meta'][metaPos].comment}}" size="5"
                      (keyup.enter)="cangeSelCMEo(['cmobject', 'meta', 'comment'], cmeMetaComment.value, metaPos)">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div id="metaview" *ngIf="state==='meta'">
          <table id="metaviewtable">
            <tr>
              <td (click)="getFiles('txt')">
                Text-Files
              </td>
              <td (click)="getFiles('pdf')">
                PDF-Files
              </td>
              <td (click)="getFiles('videos')">
                Video-Files
              </td>
              <td (click)="getFiles('audio')">
                Audio-Files
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div id="metatxtview" *ngIf="metaMode==='txt'">
                  <table id="metatxttable">
                    <tr>
                      <td *ngFor="let submeta of currentMetaArray">
                        <div *ngFor="let meta of submeta.folders" class="folder">
                          <p (click)="selectFolder(meta)"><img src="assets/images/svgelements/menue/folder.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                        <div *ngFor="let meta of submeta.files" class="files">
                          <p (click)="openFile(meta)"><img src="assets/images/svgelements/menue/file.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div id="metapdfview" *ngIf="metaMode==='pdf'" class="metaview">
                  <table id="metapdftable">
                    <tr>
                      <td *ngFor="let submeta of currentMetaArray">
                        <div *ngFor="let meta of submeta.folders" class="folder">
                          <p (click)="selectFolder(meta)"><img src="assets/images/svgelements/menue/folder.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                        <div *ngFor="let meta of submeta.files" class="files">
                          <p (click)="openFile(meta)"><img src="assets/images/svgelements/menue/file.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div id="metavideosview" *ngIf="metaMode==='videos'" class="metaview">
                  <table id="metavideostable">
                    <tr>
                      <td *ngFor="let submeta of currentMetaArray">
                        <div *ngFor="let meta of submeta.folders" class="folder">
                          <p (click)="selectFolder(meta)"><img src="assets/images/svgelements/menue/folder.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                        <div *ngFor="let meta of submeta.files" class="files">
                          <p (click)="openFile(meta)"><img src="assets/images/svgelements/menue/file.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div id="currentmeta">
                  <table id="currentmetatable">
                    <tr>
                      <td class="tdleft">
                        Name:
                      </td>
                      <td class="tdright">
                        <input #sourceMetaInput value="{{cmSettings.currentMeta.name}}" size="15">
                      </td>
                      <td>
                        Position:
                      </td>
                      <td>
                        <input #posMetaInput value="{{cmSettings.currentMeta.pos}}" size="5">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Path:
                      </td>
                      <td>
                        <input #pathMetaInput value="{{cmSettings.currentMeta.path}}" size="15">
                      </td>
                      <td>
                        Type:
                      </td>
                      <td>
                        <select [(ngModel)]="extType">
                          <option *ngFor="let exttype of extTypeArray" value={{exttype}}>
                             {{exttype}}
                          </option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Comment:
                      </td>
                      <td>
                        <input #commentMetaInput value="{{cmSettings.currentMeta.comment}}" size="10">
                      </td>
                      <td *ngIf="selCMEo" colspan="4">
                        <div (click)="addMeta(sourceMetaInput.value, posMetaInput.value, pathMetaInput.value, commentMetaInput.value)">
                          addMeta
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Path:
                      </td>
                      <td>
                        <input #extInput value="" size="5">
                      </td>
                      <td>
                        position:
                      </td>
                      <td>
                        <input #extPage value="0" size="5">
                      </td>
                      <td>
                        type
                      </td>
                      <td>
                        <select [(ngModel)]="extType">
                          <option *ngFor="let exttype of extTypeArray" value={{exttype}}>
                             {{exttype}}
                          </option>
                        </select>
                      </td>
                      <td (click)="openExternal(extInput.value, extPage.value)">
                        openExt
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </div>

      </td>
    </tr>
  </table>

  <div id="input">
    <table id="inputtable">
      <tr>
        <td class="tdleft">
          X:
        </td>
        <td class="tdright">
          <input #xNewCoorInput value="{{position.left}}" size="5" [disabled]="position.disabled">
        </td>
        <td class="tdleft">
          Add X:
        </td>
        <td class="tdright">
          <input #xAddCoorInput value="0" size="5" [disabled]="position.disabled">
        </td>
        <td (click)="addCoor('x', xNewCoorInput.value, xAddCoorInput.value)">
          Add
        </td>
        <td (click)="moveTo(xNewCoorInput.value, yNewCoorInput.value)">
          Go
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td class="tdleft">
          Y:
        </td>
        <td class="tdright">
          <input #yNewCoorInput value="{{position.top}}" size="5" [disabled]="position.disabled">
        </td>
        <td class="tdleft">
          Add Y:
        </td>
        <td class="tdright">
          <input #yAddCoorInput value="0" size="5" [disabled]="position.disabled">
        </td>
        <td (click)="addCoor('y', yNewCoorInput.value, yAddCoorInput.value)">
          Add
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          X:
        </td>
        <td>
          <input #xCoorInput value="0" size="5">
        </td>
        <td>
          Y:
        </td>
        <td>
          <input #yCoorInput value="0" size="5">
        </td>
        <td (click)="goTo(xCoorInput.value, yCoorInput.value)">
          Go
        </td>
        <td>
          Search:
        </td>
        <td>
          <input #titleInput value="" size="10" (keyup.enter)="findTitle(titleInput.value)">
        </td>
        <td (click)="findTitle(titleInput.value)">
          Find
        </td>
      </tr>
    </table>
    <div id="titlesDiv">
      <div class="titleDiv" *ngFor="let cme of titlearray; let i = index">
        {{cme.title}}
        <b (click)="goTo(cme.coor.x, cme.coor.y)">⊗</b>
      </div>
    </div>
  </div>
</div>
