.cq
{
  /* transparent type beam */
	white-space: nowrap;
  text-decoration: none;
  padding: 5px;
  vertical-align: middle;
	font-size: 12;
	color: #000000;
  font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
  /* Chrome,Safari4+ */
  -webkit-border-radius: 10px;
  /* FF3.6+ */
  -moz-border-radius: 10px;
  /* Old browsers */
  border-radius: 10px;
  /* Chrome,Safari4+ */
  opacity: 0.65;
  filter: alpha(opacity=65); /* For IE8 and earlier */
}
