<div *ngFor="let button of buttons | async">
  <div *ngIf="button.id == selector && button.blocked" style="z-index: 10">
    <img src="assets/images/basic/empty.png">
  </div>
  <table *ngIf="button.id == selector" style="z-index: 0">
    <tr>
      <td>
        <button (click)="changenumber(button.prio)">+</button><br>
        <button (click)="changenumber(-1 * button.prio)">-</button>
      </td>
      <td [ngStyle]="setbutton(button)">
        <input #box value="{{value}}"
          width="20" 
          (keyup.enter)="writenumber(box.value)"
          (blur)="writenumber(box.value)">
      </td>
    </tr>
  </table>
</div>
