table, th, td {
    border-collapse: collapse;
    spacing: 0px;
    border: 0px;
    padding: 0px;
}

div {
  font-size: 16px;
}

#toolbar {
    spacing: 0px;
    border: 0px;
    padding: 0px;
    border-spacing: 0px !important;
}

#overdueDiv
{
  display:inline-block;
  white-space: nowrap;
}
