<table id="toolbar0">
 <tr>
   <td>
     <app-s-button [buttons]="buttons" [selector]="601"></app-s-button>
   </td>
   <td>
     <app-s-button [buttons]="buttons" [selector]="613"></app-s-button>
   </td>
   <td>
     <div id="overdueDiv" *ngIf="mode==='quizing'">
       <ng-container *ngFor="let cme of overduearray; let i = index">
         {{cme.title}}
         <b (click)="goTo(cme.coor.x, cme.coor.y)">⊗</b>
       </ng-container>
     </div>
   </td>
   <td>

   </td>
   <td>
 </tr>
</table>
