table {
    border-collapse: collapse;
    border: 0px;
    padding: 0px;
}

th, td {
    border: 0px;
    height: 10px;
    padding: 0px;
}

.tbtd {
    border: 0px;
    height: 10px;
    padding: 0px;
}

.clrpk {
    padding: 0 !important;
    border-width: 0 !important;
}
