<div id="widget1">
  <div *ngIf="widget1==='equation'">
     <app-mjeditor></app-mjeditor>
  </div>
  <div *ngIf="widget1==='formula'">
     <iframe #iframe1 id="iframe1" src="assets/widgets/JSME/JSME_editor_plus_SVG.html" [style.height]="w1height" [style.width]="w1width" (click)="cminterface1()"></iframe>
  </div>
  <div *ngIf="widget1==='svg'">
     <iframe #iframe1 id="iframe1" src="assets/widgets/svgeditor/svg-editor.html" [style.height]="w1height" [style.width]="w1width" (click)="cminterface1()"></iframe>
  </div>
  <div *ngIf="widget1==='navigator'">
     <app-navigator></app-navigator>
  </div>
  <div *ngIf="widget1==='mnemo'">
     <app-mnemo></app-mnemo>
  </div>
  <div *ngIf="widget1==='codeeditor'">
     <app-codeeditor></app-codeeditor>
  </div>
  <div *ngIf="widget1==='none'">
     <iframe #iframe1 id="iframe1" src="" height="0%" width="0%" (click)="cminterface1()"></iframe>
  </div>
</div>
