<div class="tbbox" *ngIf="contentlen!==0" >
  <table>
    <tr>
      <td>
        <table id="objecttable">
          <tr>
            <td style="white-space: nowrap;">
              <b (click)="changeContent(-1)">←</b>
              {{pos + 1}} / {{contentlen}}
              <b (click)="changeContent(1)">→</b>
            </td>
            <td *ngIf="contentCat==='png' || contentCat==='i'">
              <img src="assets/images/basic/white_trans.png" (click)="makeTrans('white')"/>
            </td>
            <td>
              <div (click)="delContent()">
                del
              </div>
            </td>
            <td>
              <app-s-button [buttons]="buttons" [selector]="8"></app-s-button>
            </td>
            <td>

            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <input #picSizeInput value="{{picsize}}" size="3"
                (keyup.enter)="setPicSize(picSizeInput.value)">
            </td>
            <td *ngIf="contentCat==='png' || contentCat==='i'">
              <img src="assets/images/basic/black_trans.png" (click)="makeTrans('black')"/>
            </td>
            <td>
              <div *ngIf="contentCat==='png' || contentCat==='i'" (click)="changeContentCat()">
                thumb
              </div>
              <div *ngIf="contentCat==='svg'||contentCat==='jsme-svg'||contentCat==='LateX'" (click)="copySVG()">
                svg
              </div>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div  *ngIf="contentCat==='svg'||contentCat==='html'||contentCat==='jsme-svg'||contentCat==='LateX'">
                <input #titleInput value="{{contentStrg}}" size="10" (keyup.enter)="readInput(titleInput.value)">
              </div>
              <div  *ngIf="contentCat==='png'||contentCat==='i'">
                <input #titleInput value="{{contentStrg}}" size="10" (keyup.enter)="readInput(titleInput.value)">
              </div>
            </td>
            <td>

            </td>
            <td>
              <div *ngIf="contentCat==='html'||contentCat==='jsme-svg'||contentCat==='LateX'" (click)="copyInfo()">
                info
              </div>
              <div *ngIf="contentCat==='png'||contentCat==='i'" (click)="copyPic()">
                pic
              </div>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>



            </td>
            <td>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
