<svg id="cmsvg" width="100%" height="100%" style="z-index: 0; position: absolute;">
  <g id="cmcontent">
    <g id="cmcontentedit"></g>
    <g id="cmcontentgroup"></g>
  </g>
  <g id="cml">
    <g id="cml99"></g>
    <g id="cml98"></g>
    <g id="cml97"></g>
    <g id="cml96"></g>
    <g id="cml95"></g>
    <g id="cml94"></g>
    <g id="cml93"></g>
    <g id="cml92"></g>
    <g id="cml91"></g>
    <g id="cml90"></g>
    <g id="cml89"></g>
    <g id="cml88"></g>
    <g id="cml87"></g>
    <g id="cml86"></g>
    <g id="cml85"></g>
    <g id="cml84"></g>
    <g id="cml83"></g>
    <g id="cml82"></g>
    <g id="cml81"></g>
    <g id="cml80"></g>
    <g id="cml79"></g>
    <g id="cml78"></g>
    <g id="cml77"></g>
    <g id="cml76"></g>
    <g id="cml75"></g>
    <g id="cml74"></g>
    <g id="cml73"></g>
    <g id="cml72"></g>
    <g id="cml71"></g>
    <g id="cml70"></g>
    <g id="cml69"></g>
    <g id="cml68"></g>
    <g id="cml67"></g>
    <g id="cml66"></g>
    <g id="cml65"></g>
    <g id="cml64"></g>
    <g id="cml63"></g>
    <g id="cml62"></g>
    <g id="cml61"></g>
    <g id="cml60"></g>
    <g id="cml59"></g>
    <g id="cml58"></g>
    <g id="cml57"></g>
    <g id="cml56"></g>
    <g id="cml55"></g>
    <g id="cml54"></g>
    <g id="cml53"></g>
    <g id="cml52"></g>
    <g id="cml51"></g>
    <g id="cml50"></g>
    <g id="cml49"></g>
    <g id="cml48"></g>
    <g id="cml47"></g>
    <g id="cml46"></g>
    <g id="cml45"></g>
    <g id="cml44"></g>
    <g id="cml43"></g>
    <g id="cml42"></g>
    <g id="cml41"></g>
    <g id="cml40"></g>
    <g id="cml39"></g>
    <g id="cml38"></g>
    <g id="cml37"></g>
    <g id="cml36"></g>
    <g id="cml35"></g>
    <g id="cml34"></g>
    <g id="cml33"></g>
    <g id="cml32"></g>
    <g id="cml31"></g>
    <g id="cml30"></g>
    <g id="cml29"></g>
    <g id="cml28"></g>
    <g id="cml27"></g>
    <g id="cml26"></g>
    <g id="cml25"></g>
    <g id="cml24"></g>
    <g id="cml23"></g>
    <g id="cml22"></g>
    <g id="cml21"></g>
    <g id="cml20"></g>
    <g id="cml19"></g>
    <g id="cml18"></g>
    <g id="cml17"></g>
    <g id="cml16"></g>
    <g id="cml15"></g>
    <g id="cml14"></g>
    <g id="cml13"></g>
    <g id="cml12"></g>
    <g id="cml11"></g>
    <g id="cml10"></g>
    <g id="cml9"></g>
    <g id="cml8"></g>
    <g id="cml7"></g>
    <g id="cml6"></g>
    <g id="cml5"></g>
    <g id="cml4"></g>
    <g id="cml3"></g>
    <g id="cml2"></g>
    <g id="cml1"></g>
    <g id="cml0"></g>
  </g>
  <g id="cmm">
    <g id="cmm99"></g>
    <g id="cmm98"></g>
    <g id="cmm97"></g>
    <g id="cmm96"></g>
    <g id="cmm95"></g>
    <g id="cmm94"></g>
    <g id="cmm93"></g>
    <g id="cmm92"></g>
    <g id="cmm91"></g>
    <g id="cmm90"></g>
    <g id="cmm89"></g>
    <g id="cmm88"></g>
    <g id="cmm87"></g>
    <g id="cmm86"></g>
    <g id="cmm85"></g>
    <g id="cmm84"></g>
    <g id="cmm83"></g>
    <g id="cmm82"></g>
    <g id="cmm81"></g>
    <g id="cmm80"></g>
    <g id="cmm79"></g>
    <g id="cmm78"></g>
    <g id="cmm77"></g>
    <g id="cmm76"></g>
    <g id="cmm75"></g>
    <g id="cmm74"></g>
    <g id="cmm73"></g>
    <g id="cmm72"></g>
    <g id="cmm71"></g>
    <g id="cmm70"></g>
    <g id="cmm69"></g>
    <g id="cmm68"></g>
    <g id="cmm67"></g>
    <g id="cmm66"></g>
    <g id="cmm65"></g>
    <g id="cmm64"></g>
    <g id="cmm63"></g>
    <g id="cmm62"></g>
    <g id="cmm61"></g>
    <g id="cmm60"></g>
    <g id="cmm59"></g>
    <g id="cmm58"></g>
    <g id="cmm57"></g>
    <g id="cmm56"></g>
    <g id="cmm55"></g>
    <g id="cmm54"></g>
    <g id="cmm53"></g>
    <g id="cmm52"></g>
    <g id="cmm51"></g>
    <g id="cmm50"></g>
    <g id="cmm49"></g>
    <g id="cmm48"></g>
    <g id="cmm47"></g>
    <g id="cmm46"></g>
    <g id="cmm45"></g>
    <g id="cmm44"></g>
    <g id="cmm43"></g>
    <g id="cmm42"></g>
    <g id="cmm41"></g>
    <g id="cmm40"></g>
    <g id="cmm39"></g>
    <g id="cmm38"></g>
    <g id="cmm37"></g>
    <g id="cmm36"></g>
    <g id="cmm35"></g>
    <g id="cmm34"></g>
    <g id="cmm33"></g>
    <g id="cmm32"></g>
    <g id="cmm31"></g>
    <g id="cmm30"></g>
    <g id="cmm29"></g>
    <g id="cmm28"></g>
    <g id="cmm27"></g>
    <g id="cmm26"></g>
    <g id="cmm25"></g>
    <g id="cmm24"></g>
    <g id="cmm23"></g>
    <g id="cmm22"></g>
    <g id="cmm21"></g>
    <g id="cmm20"></g>
    <g id="cmm19"></g>
    <g id="cmm18"></g>
    <g id="cmm17"></g>
    <g id="cmm16"></g>
    <g id="cmm15"></g>
    <g id="cmm14"></g>
    <g id="cmm13"></g>
    <g id="cmm12"></g>
    <g id="cmm11"></g>
    <g id="cmm10"></g>
    <g id="cmm9"></g>
    <g id="cmm8"></g>
    <g id="cmm7"></g>
    <g id="cmm6"></g>
    <g id="cmm5"></g>
    <g id="cmm4"></g>
    <g id="cmm3"></g>
    <g id="cmm2"></g>
    <g id="cmm1"></g>
    <g id="cmm0"></g>
  </g>
  <g id="cmo">
    <g id="cmo99"></g>
    <g id="cmo98"></g>
    <g id="cmo97"></g>
    <g id="cmo96"></g>
    <g id="cmo95"></g>
    <g id="cmo94"></g>
    <g id="cmo93"></g>
    <g id="cmo92"></g>
    <g id="cmo91"></g>
    <g id="cmo90"></g>
    <g id="cmo89"></g>
    <g id="cmo88"></g>
    <g id="cmo87"></g>
    <g id="cmo86"></g>
    <g id="cmo85"></g>
    <g id="cmo84"></g>
    <g id="cmo83"></g>
    <g id="cmo82"></g>
    <g id="cmo81"></g>
    <g id="cmo80"></g>
    <g id="cmo79"></g>
    <g id="cmo78"></g>
    <g id="cmo77"></g>
    <g id="cmo76"></g>
    <g id="cmo75"></g>
    <g id="cmo74"></g>
    <g id="cmo73"></g>
    <g id="cmo72"></g>
    <g id="cmo71"></g>
    <g id="cmo70"></g>
    <g id="cmo69"></g>
    <g id="cmo68"></g>
    <g id="cmo67"></g>
    <g id="cmo66"></g>
    <g id="cmo65"></g>
    <g id="cmo64"></g>
    <g id="cmo63"></g>
    <g id="cmo62"></g>
    <g id="cmo61"></g>
    <g id="cmo60"></g>
    <g id="cmo59"></g>
    <g id="cmo58"></g>
    <g id="cmo57"></g>
    <g id="cmo56"></g>
    <g id="cmo55"></g>
    <g id="cmo54"></g>
    <g id="cmo53"></g>
    <g id="cmo52"></g>
    <g id="cmo51"></g>
    <g id="cmo50"></g>
    <g id="cmo49"></g>
    <g id="cmo48"></g>
    <g id="cmo47"></g>
    <g id="cmo46"></g>
    <g id="cmo45"></g>
    <g id="cmo44"></g>
    <g id="cmo43"></g>
    <g id="cmo42"></g>
    <g id="cmo41"></g>
    <g id="cmo40"></g>
    <g id="cmo39"></g>
    <g id="cmo38"></g>
    <g id="cmo37"></g>
    <g id="cmo36"></g>
    <g id="cmo35"></g>
    <g id="cmo34"></g>
    <g id="cmo33"></g>
    <g id="cmo32"></g>
    <g id="cmo31"></g>
    <g id="cmo30"></g>
    <g id="cmo29"></g>
    <g id="cmo28"></g>
    <g id="cmo27"></g>
    <g id="cmo26"></g>
    <g id="cmo25"></g>
    <g id="cmo24"></g>
    <g id="cmo23"></g>
    <g id="cmo22"></g>
    <g id="cmo21"></g>
    <g id="cmo20"></g>
    <g id="cmo19"></g>
    <g id="cmo18"></g>
    <g id="cmo17"></g>
    <g id="cmo16"></g>
    <g id="cmo15"></g>
    <g id="cmo14"></g>
    <g id="cmo13"></g>
    <g id="cmo12"></g>
    <g id="cmo11"></g>
    <g id="cmo10"></g>
    <g id="cmo9"></g>
    <g id="cmo8"></g>
    <g id="cmo7"></g>
    <g id="cmo6"></g>
    <g id="cmo5"></g>
    <g id="cmo4"></g>
    <g id="cmo3"></g>
    <g id="cmo2"></g>
    <g id="cmo1"></g>
    <g id="cmo0"></g>
  </g>
  <g id="cmeselection"></g>
  <g id="minicmap"></g>
</svg>
<div id="selection" [ngStyle]="selection"></div>
<app-cmapMedia style="z-index: 5; position absolute"></app-cmapMedia>
<div style="z-index: 3; position absolute">
  <div *ngFor="let cmelement of cmelements | async">
        <app-cmline *ngIf="cmelement.id < 0"  [ngStyle]="elementStyle(cmelement)" [cmelement]="cmelement"></app-cmline>
        <app-cmobject *ngIf="cmelement.id > 0" [ngStyle]="elementStyle(cmelement)" [cmelement]="cmelement"></app-cmobject>
  </div>
</div>
