<div [ngStyle]="cmapStyle" id="cmap" titel="cmap">
	<app-cmap></app-cmap>
</div>
<div [ngStyle]="toolbar0Style" id="toolbar0">
	<app-toolbar0></app-toolbar0>
</div>
<div  [ngStyle]="toolbar1Style" id="toolbar1">
	<app-toolbar></app-toolbar>
</div>
<div [ngStyle]="widgets0Style" id="widgets0">
	<app-widgets0></app-widgets0>
</div>
<div [ngStyle]="widgets1Style" id="widgets1">
	<app-widgets1></app-widgets1>
</div>
<div [ngStyle]="menueStyle" id="menue">
	<app-menue></app-menue>
</div>
<button type="button" class="cm-theme-toggle" (click)="toggleTheme()"
        title="Toggle dark/light theme" aria-label="Toggle dark/light theme">◐</button>
<button type="button" class="cm-undo" (click)="undo()"
        title="Undo last change (Ctrl+Z)" aria-label="Undo last change">↶</button>
<button type="button" class="cm-redo" (click)="redo()"
        title="Redo (Ctrl+Shift+Z)" aria-label="Redo last undone change">↷</button>
<button type="button" class="cm-tb-toggle" (click)="toggleToolbar()"
        title="Collapse/expand toolbar" aria-label="Collapse or expand toolbar">{{tbCollapsed ? '▾' : '▴'}}</button>
<div id="TPmain" style="display:none">
	<div #TPid value="empty" id="TPid">
	</div>
	<div #TPmeta value="empty" id="TPmeta">
	</div>
	<div #TPquiz value="empty" id="TPquiz">
	</div>
	<div #TPmaxid value="empty" id="TPmaxid">
	</div>
	<div #TPy value="empty" id="TPy">
	</div>
</div>
