<div [ngStyle]="cmapStyle" id="cmap" titel="cmap">
	<app-cmap></app-cmap>
</div>
<div [ngStyle]="toolbar0Style" id="toolbar0">
	<app-toolbar0></app-toolbar0>
</div>
<div  [ngStyle]="toolbar1Style" id="toolbar1">
	<app-toolbar></app-toolbar>
</div>
<div [ngStyle]="widgets0Style" id="widgets0">
	<app-widgets0></app-widgets0>
</div>
<div [ngStyle]="widgets1Style" id="widgets1">
	<app-widgets1></app-widgets1>
</div>
<div [ngStyle]="menueStyle" id="menue">
	<app-menue></app-menue>
</div>
<div id="TPmain" style="display:none">
	<div #TPid value="empty" id="TPid">
	</div>
	<div #TPmeta value="empty" id="TPmeta">
	</div>
	<div #TPquiz value="empty" id="TPquiz">
	</div>
	<div #TPmaxid value="empty" id="TPmaxid">
	</div>
	<div #TPy value="empty" id="TPy">
	</div>
</div>
