<div id="mnemo">
  <table id="mnemo">
    <tr>
      <td  class="mnemoTd">
        <table id="mnemo0_100">
          <tr *ngFor="let mnemopicsrow of mnemopics; let i = index" class="mnemoTr">
            <td *ngFor="let mnemopic of mnemopicsrow; let j = index" class="mnemoTd">
              <div (click)="picClick(mnemopic)">
                <img src="{{mnemopic}}" class="mnemoPic" />
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table id="mnemocontrol">
          <tr>
            <td colspan="2">
              <table id="mnemocontrolsize">
                <tr>
                  <td class="mnemoTd">
                    <div (click)="setMnemoSize(25)" [ngStyle]="getSize(25)" class="sizebutton">
                      <img src="assets/images/mnemo/control/sizesquare50.svg" width="18px" height="18px"/>
                    </div>
                  </td>
                  <td class="mnemoTd">
                    <div (click)="setMnemoSize(50)" [ngStyle]="getSize(50)" class="sizebutton">
                      <img src="assets/images/mnemo/control/sizesquare100.svg" width="18px" height="18px"/>
                    </div>
                  </td>
                  <td class="mnemoTd">
                    <div (click)="setMnemoSize(100)" [ngStyle]="getSize(100)" class="sizebutton">
                      <img src="assets/images/mnemo/control/sizesquare150.svg" width="18px" height="18px"/>
                    </div>
                  </td>
                  <td class="mnemoTd">
                    <div (click)="setMnemoSize(150)" [ngStyle]="getSize(150)" class="sizebutton">
                      <img src="assets/images/mnemo/control/sizesquare200.svg" width="18px" height="18px"/>
                    </div>
                  </td>
                  <td class="mnemoTd">
                    <div (click)="setMnemoSize(200)" [ngStyle]="getSize(200)" class="sizebutton">
                      <img src="assets/images/mnemo/control/sizesquare250.svg" width="18px" height="18px"/>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table [ngStyle]="{'border-spacing': '0px'}">
                <tr [ngStyle]="{'line-height': '12px'}">
                  <td (click)="changeCon(0, 0)" [ngStyle]="getState(0, 0)">
                    <img src="assets/images/basic/con_a.png" [ngStyle]="{'width': '15px' }" />
                  </td>
                  <td (click)="changeCon(0.5, 0)" [ngStyle]="getState(0.5, 0)">
                    <img src="assets/images/basic/con_ab_s.png" [ngStyle]="{'width': '20px' }" />
                  </td>
                  <td (click)="changeCon(1, 0)" [ngStyle]="getState(1, 0)">
                    <img src="assets/images/basic/con_b.png" [ngStyle]="{'width': '15px' }" />
                  </td>
                </tr>
                <tr [ngStyle]="{'line-height': '12px'}">
                  <td (click)="changeCon(0, 0.5)" [ngStyle]="getState(0, 0.5)">
                    <img src="assets/images/basic/con_da.png" [ngStyle]="{'width': '15px' }" />
                  </td>
                  <td (click)="changeCon(0.5, 0.5)" [ngStyle]="getState(0.5, 0.5)">
                    <img src="assets/images/basic/con_e_s.png" [ngStyle]="{'width': '20px' }" />
                  </td>
                  <td (click)="changeCon(1, 0.5)" [ngStyle]="getState(1, 0.5)">
                    <img src="assets/images/basic/con_bc.png" [ngStyle]="{'width': '15px' }" />
                  </td>
                </tr>
                <tr [ngStyle]="{'line-height': '12px'}">
                  <td (click)="changeCon(0, 1)" [ngStyle]="getState(0, 1)">
                    <img src="assets/images/basic/con_d.png" [ngStyle]="{'width': '15px' }" />
                  </td>
                  <td (click)="changeCon(0.5, 1)" [ngStyle]="getState(0.5, 1)">
                      <img src="assets/images/basic/con_cd_s.png" [ngStyle]="{'width': '20px' }" />
                  </td>
                  <td (click)="changeCon(1, 1)" [ngStyle]="getState(1, 1)">
                    <img src="assets/images/basic/con_c.png" [ngStyle]="{'width': '15px' }" />
                  </td>
                </tr>
              </table>
                <table [ngStyle]="{'border-spacing': '2px'}">
                  <tr>
                    <td>
                      <div (click)="changeMatrix('mh')" class="sizebutton">
                        <img src="assets/images/mnemo/actions/mirrorh.svg" [ngStyle]="{'width': '20px' }" />
                      </div>
                    </td>
                    <td>
                      <div (click)="changeMatrix('mv')" class="sizebutton">
                        <img src="assets/images/mnemo/actions/mirrorv.svg" [ngStyle]="{'width': '20px' }" />
                      </div>
                    </td>
                  </tr>
                </table>
            </td>
            <td>
              <table [ngStyle]="{'border-spacing': '1px'}">
                <tr [ngStyle]="{'line-height': '20px'}">
                  <td>
                    <div (click)="changeMatrix('-135')" class="sizebutton">
                      <img src="assets/images/mnemo/actions/arrow-135.svg" [ngStyle]="{'width': '20px' }" />
                    </div>
                  </td>
                  <td>
                    <div (click)="changeMatrix('-90')" class="sizebutton">
                      <img src="assets/images/mnemo/actions/arrow-90.svg" [ngStyle]="{'width': '20px' }" />
                    </div>
                  </td>
                  <td>
                    <div (click)="changeMatrix('-45')" class="sizebutton">
                      <img src="assets/images/mnemo/actions/arrow-45.svg" [ngStyle]="{'width': '20px' }" />
                    </div>
                  </td>
                </tr>
                <tr [ngStyle]="{'line-height': '20px'}">
                  <td>
                    <div (click)="changeMatrix('-180')" class="sizebutton">
                      <img src="assets/images/mnemo/actions/arrow-180.svg" [ngStyle]="{'width': '20px' }" />
                    </div>
                  </td>
                  <td (click)="changeCon(0.5, 0.5)" >

                  </td>
                  <td>
                    <div (click)="changeMatrix('0')" class="sizebutton">
                      <img src="assets/images/mnemo/actions/arrow.svg" [ngStyle]="{'width': '20px' }" />
                    </div>
                  </td>
                </tr>
                <tr [ngStyle]="{'line-height': '20px'}">
                  <td>
                    <div (click)="changeMatrix('135')" class="sizebutton">
                      <img src="assets/images/mnemo/actions/arrow135.svg" [ngStyle]="{'width': '20px' }" />
                    </div>
                  </td>
                  <td>
                    <div (click)="changeMatrix('90')" class="sizebutton">
                      <img src="assets/images/mnemo/actions/arrow90.svg" [ngStyle]="{'width': '20px' }" />
                    </div>
                  </td>
                  <td>
                    <div (click)="changeMatrix('45')" class="sizebutton">
                      <img src="assets/images/mnemo/actions/arrow45.svg" [ngStyle]="{'width': '20px' }" />
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <app-colorbar [colorbars]="colors" [selector]="'mnemo'"></app-colorbar>
            </td>
          </tr>
          <tr>
            <td  class="mnemoTd" colspan="3">
              <table id="mnemoactions">
                <tr *ngFor="let actionpicsrow of actionpics; let i = index" class="mnemoTr">
                  <td *ngFor="let actionpic of actionpicsrow; let j = index" class="mnemoTd">
                    <div (click)="picClick(actionpic)">
                      <img src="{{actionpic}}" class="actionPic" />
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
