#mnemo0_100
{
	overflow: scroll;
  max-height: 300px;
  max-width: 580px;
}

#mnemocontrolsize
{
	border-spacing: 2px;
}

table {
	border-spacing: 0px;
}

th, td {
    border: 0px;
    padding: 0px;
}

.mnemoTr
.mnemoTd
{
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;;
}

.mnemoPic
{
	max-height: 40px;
  max-width: 45px;
}

.actionPic
{
	max-height: 35px;
  max-width: 35px;
}

.titleDiv
{
  display:inline-block;
}

.sizebutton
{
    border-style: solid;
	  border-width: 1px;
    height: 20px;
    width: 20px;
    margin: auto;
    text-align: center;
    /*border-top: 2px solid #96d1f8;*/
    /* Old browsers */
    background: transparent;
    -webkit-border-radius: 2px;
    /* FF3.6+ */
    -moz-border-radius: 2px;
    /* Old browsers */
    border-radius: 2px;
    color: #505050;
}
