<div class="tbbox">
  <table id="linetable">
    <tr>
      <td colspan="2">
        <app-colorbar [colorbars]="colors" [selector]="'tbline0'"></app-colorbar>
      </td>
      <td colspan="2">
        <app-numberchange [buttons]="buttons" [selector]="905"></app-numberchange>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="103"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="104"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="107"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="109"></app-s-button>
      </td>
      <td>
        <app-l-button [buttons]="buttons" [selector]="112"></app-l-button>
      </td>
      <td>
        <app-l-button [buttons]="buttons" [selector]="114"></app-l-button>
      </td>
      <td colspan="2">
        <app-numberchange [buttons]="buttons" [selector]="910"></app-numberchange>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <app-colorbar [colorbars]="colors" [selector]="'tbline1'"></app-colorbar>
      </td>
      <td colspan="2">
        <app-numberchange [buttons]="buttons" [selector]="906"></app-numberchange>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="101"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="102"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="108"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="110"></app-s-button>
      </td>
      <td>
        <app-l-button [buttons]="buttons" [selector]="113"></app-l-button>
      </td>
      <td>
        <app-l-button [buttons]="buttons" [selector]="115"></app-l-button>
      </td>
      <td colspan="2">
        <app-numberchange [buttons]="buttons" [selector]="911"></app-numberchange>
      </td>
    </tr>
    <tr>
      <td>
        <app-numberchange [buttons]="buttons" [selector]="903"></app-numberchange>
      </td>
      <td>
        <app-numberchange [buttons]="buttons" [selector]="904"></app-numberchange>
      </td>
      <td>
        <div (click)="delselCMEl()">
          <img src="assets/images/svgelements/menue/del.svg" width="20px" height="20px">
        </div>
      </td>
      <td>
        <app-l-button [buttons]="buttons" [selector]="117"></app-l-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="607"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="606"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="116"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="111"></app-s-button>
      </td>
      <td>
        <app-l-button [buttons]="buttons" [selector]="117"></app-l-button>
      </td>
      <td>
        <app-l-button [buttons]="buttons" [selector]="118"></app-l-button>
      </td>
      <td colspan="2">

      </td>
    </tr>
  </table>
</div>
