<div class="tbbox">
  <table id="linetable">
    <tr>
      <td>
        <app-colorbar [colorbars]="colors" [selector]="'tbline0'"></app-colorbar>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <app-colorbar [colorbars]="colors" [selector]="'tbline1'"></app-colorbar>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <app-numberchange [buttons]="buttons" [selector]="903"></app-numberchange>
      </td>
      <td>
        <app-numberchange [buttons]="buttons" [selector]="904"></app-numberchange>
      </td>
      <td>

      </td>
    </tr>
  </table>
</div>
