<div class="MenueBox">
  <table id="btntable">
    <tr>
      <td colspan="3">
        <app-colorbar [colorbars]="colors" [selector]="'tbobject0'"></app-colorbar>
      </td>
      <td>
        <app-numberchange [buttons]="buttons" [selector]="901"></app-numberchange>
      </td>
    </tr>
    <tr>
      <td>
        <app-s-button [buttons]="buttons" [selector]="1"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="2"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="3"></app-s-button>
      </td>
      <td>
        <app-s-button [buttons]="buttons" [selector]="4"></app-s-button>
      </td>
      <td>
        <app-numberchange [buttons]="buttons" [selector]="902"></app-numberchange>
      </td>
    </tr>
  </table>
</div>
