.LatexSvgButton
{
	border: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: #808080;
	background-color: #ffffff;
}

.subarrayDiv
{
  white-space: nowrap;
}

.titleDiv
{
  display:inline-block;
}
