<div class="tbbox">
  <table id="specchartable">
    <tr>
      <td>
        <table id="spechartable0">
          <tr>
            <td colspan="8">
              <select [(ngModel)]="activeSpechars">
                <option *ngFor="let font_ of fontarray" value={{font_}}>
                   {{ font_ }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td *ngFor="let chars of getSpechars('lastused', 1)" (click)="changeTextInput(chars)">
              {{ chars }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let chars of getSpechars('lastused', 2)" (click)="changeTextInput(chars)">
              {{ chars }}
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table id="spechartable1">
          <tr>
            <td *ngFor="let chars of getSpechars('common', 0)" (click)="changeTextInput(chars)">
              {{ chars }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let chars of getSpechars('common', 1)" (click)="changeTextInput(chars)">
              {{ chars }}
            </td>
          </tr>
          <tr>
            <td *ngFor="let chars of getSpechars('common', 2)" (click)="changeTextInput(chars)">
              {{ chars }}
            </td>
          </tr>
        </table>
      </td>
      <td>
        <div id="activeSpecharsDiv">
          <table id="spechartable2">
            <tr>
              <td *ngFor="let chars of getSpechars('activeSpechars', 0)" (click)="changeTextInput(chars)">
                {{ chars }}
              </td>
            </tr>
            <tr>
              <td *ngFor="let chars of getSpechars('activeSpechars', 1)" (click)="changeTextInput(chars)">
                {{ chars }}
              </td>
            </tr>
            <tr>
              <td *ngFor="let chars of getSpechars('activeSpechars', 2)" (click)="changeTextInput(chars)">
                {{ chars }}
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
