<div id="navigator">
  <table id="stateselection">
    <tr>
      <td (click)="changeState('treeview')">
        treeview
      </td>
      <td (click)="changeState('elementview')">
        elementview
      </td>
      <td (click)="changeState('meta')">
        meta
      </td>
    </tr>
  </table>
  <table id="mainelement">
    <tr>
      <td colspan="3">
        <div id="treeview" *ngIf="state==='treeview'">
          <table id="treeviewtable">
            <tr>
              <td *ngFor="let subarray of cmearray; let i = index">
                <div *ngFor="let cme of subarray" class="subarrayDiv">
                  <u (click)="getLinkedCME(cme, i)">{{cme.title}}</u>
                  <b (click)="goTo(cme.coor.x, cme.coor.y)">⊗</b>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div id="metaview" *ngIf="state==='meta'">
          <table id="metaviewtable">
            <tr>
              <td (click)="getFiles('txt')">
                Text-Files
              </td>
              <td (click)="getFiles('pdf')">
                PDF-Files
              </td>
              <td (click)="getFiles('videos')">
                Video-Files
              </td>
              <td (click)="getFiles('audio')">
                Audio-Files
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div id="metatxtview" *ngIf="metaMode==='txt'" class="metaview">
                  <table id="metatxttable">
                    <tr>
                      <td *ngFor="let submeta of currentMetaArray">
                        <div *ngFor="let meta of submeta.folders" class="folder">
                          <p (click)="selectFolder(meta)"><img src="assets/images/svgelements/menue/folder.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                        <div *ngFor="let meta of submeta.files" class="files">
                          <p (click)="openFile(meta)"><img src="assets/images/svgelements/menue/file.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div id="metapdfview" *ngIf="metaMode==='pdf'" class="metaview">
                  <table id="metapdftable">
                    <tr>
                      <td *ngFor="let submeta of currentMetaArray">
                        <div *ngFor="let meta of submeta.folders" class="folder">
                          <p (click)="selectFolder(meta)"><img src="assets/images/svgelements/menue/folder.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                        <div *ngFor="let meta of submeta.files" class="files">
                          <p (click)="openFile(meta)"><img src="assets/images/svgelements/menue/file.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div id="metavideosview" *ngIf="metaMode==='videos'" class="metaview">
                  <table id="metavideostable">
                    <tr>
                      <td *ngFor="let submeta of currentMetaArray">
                        <div *ngFor="let meta of submeta.folders" class="folder">
                          <p (click)="selectFolder(meta)"><img src="assets/images/svgelements/menue/folder.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                        <div *ngFor="let meta of submeta.files" class="files">
                          <p (click)="openFile(meta)"><img src="assets/images/svgelements/menue/file.svg" width="15px" height="15px">{{meta.name}}</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div id="currentmeta">
                  <table id="currentmetatable">
                    <tr>
                      <td class="tdleft">
                        Name:
                      </td>
                      <td class="tdright">
                        <input #sourceMetaInput value="{{cmSettings.currentMeta.name}}" size="15">
                      </td>
                      <td>
                        Position:
                      </td>
                      <td>
                        <input #posMetaInput value="{{cmSettings.currentMeta.pos}}" size="5">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Path:
                      </td>
                      <td>
                        <input #pathMetaInput value="{{cmSettings.currentMeta.path}}" size="15">
                      </td>
                      <td>
                        Type:
                      </td>
                      <td>
                        <select [(ngModel)]="extType">
                          <option *ngFor="let exttype of extTypeArray" value={{exttype}}>
                             {{exttype}}
                          </option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Comment:
                      </td>
                      <td>
                        <input #commentMetaInput value="{{cmSettings.currentMeta.comment}}" size="10">
                      </td>
                      <td *ngIf="selCMEo" colspan="4">
                        <div (click)="addMeta(sourceMetaInput.value, posMetaInput.value, pathMetaInput.value, commentMetaInput.value)">
                          addMeta
                        </div>
                      </td>
                    </tr>
                  </table>

                </div>
              </td>
            </tr>
            <tr display="none">
              <td>
                Path:
              </td>
              <td>
                <input #extInput value="" size="5">
              </td>
              <td>
                position:
              </td>
              <td>
                <input #extPage value="0" size="5">
              </td>
              <td>
                type
              </td>
              <td>
                <select [(ngModel)]="extType">
                  <option *ngFor="let exttype of extTypeArray" value={{exttype}}>
                     {{exttype}}
                  </option>
                </select>
              </td>
              <td (click)="openExternal(extInput.value, extPage.value)">
                openExt
              </td>
            </tr>
          </table>
        </div>

      </td>
    </tr>
  </table>

  <div id="input">
    <table id="inputtable">
      <tr>
        <td class="tdleft">
          X:
        </td>
        <td class="tdright">
          <input #xNewCoorInput value="{{position.left}}" size="5" [disabled]="position.disabled">
        </td>
        <td class="tdleft">
          Add X:
        </td>
        <td class="tdright">
          <input #xAddCoorInput value="0" size="5" [disabled]="position.disabled">
        </td>
        <td (click)="addCoor('x', xNewCoorInput.value, xAddCoorInput.value)">
          Add
        </td>
        <td (click)="moveTo(xNewCoorInput.value, yNewCoorInput.value)">
          Go
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td class="tdleft">
          Y:
        </td>
        <td class="tdright">
          <input #yNewCoorInput value="{{position.top}}" size="5" [disabled]="position.disabled">
        </td>
        <td class="tdleft">
          Add Y:
        </td>
        <td class="tdright">
          <input #yAddCoorInput value="0" size="5" [disabled]="position.disabled">
        </td>
        <td (click)="addCoor('y', yNewCoorInput.value, yAddCoorInput.value)">
          Add
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          X:
        </td>
        <td>
          <input #xCoorInput value="0" size="5">
        </td>
        <td>
          Y:
        </td>
        <td>
          <input #yCoorInput value="0" size="5">
        </td>
        <td (click)="goTo(xCoorInput.value, yCoorInput.value)">
          Go
        </td>
        <td>
          Search:
        </td>
        <td>
          <input #titleInput value="" size="10" (keyup.enter)="findTitle(titleInput.value)">
        </td>
        <td (click)="findTitle(titleInput.value)">
          Find
        </td>
      </tr>
    </table>
    <div id="titlesDiv">
      <div class="titleDiv" *ngFor="let cme of titlearray; let i = index">
        {{cme.title}}
        <b (click)="goTo(cme.coor.x, cme.coor.y)">⊗</b>
      </div>
    </div>
  </div>
</div>
